sphinx==5.3.0
docutils==0.16
sphinx_autodoc_typehints==1.22
sphinx_rtd_theme==1.2.0
readthedocs-sphinx-search==0.1.1
recommonmark==0.7.1
aiofile==3.8.5
amazon-transcribe==0.6.1
numpy==1.24.2
openai==0.27.2
pyaudio==0.2.13
requests==2.31.0
urllib3==1.26.15